.what-happens-today {
  padding: 5em;

  h2 {
    font-weight: 400;
  }

  h3 {
    font-weight: 500;
    max-width: 65%;
    margin: 0 auto;
  }

  .section-2{
    color: $black;
    position: relative;
    text-align: left;
    list-style-type: none;
    padding-top: 20px;
    li{
      font-size: medium;
      font-style: italic;
      margin-left: -30px;
      padding: 5px;
    }
    
    @include media-breakpoint-down(sm){
      text-align: left !important;
      padding: 0;
      li{
        margin-left: 0px;
        padding: 5px;
      } 
    }
  }
  
  .section-2-other{
    color: $black;
    position: relative;
    text-align: left;
    list-style-type: none;
    padding-top: 20px;
    li{
      font-size: medium;
      font-style: italic;
      margin-left: -30px;
      padding: 5px;
    }
    
    @include media-breakpoint-down(sm){
      text-align: left !important;
      padding: 0;
      li{
        margin-left: 0px;
        padding: 5px;
      } 
    } 
  }
  .sec-2{
    max-width: 5%;
  }

  .image-mockup{
    width: 60%;
  }
  .mockup-section{
    padding-top: 40px;
  }

  .image-wrapper {
    background: #fff;
    width: 12.5em;
    height: 12.5em;
    padding: 1.5em;
    border-radius: 100em;

    img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}
