.aa-input-container {
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
  width: 100%;

  .algolia-autocomplete {
    width: 100% !important;
  }
  .select2-selection.select2-selection--single{
    height: 40px;
    border-radius: 25px;
    .select2-selection__rendered:{
      height: 40px;
      line-height: 40px;
      font-size: 12px;
    }
  }
}


.aa-input-search {
  width: 100%;
  padding: 12px 28px 12px 12px;
  border: 1px solid $gray-500;
  border-radius: 100em;
  -webkit-transition: .2s;
  transition: .2s;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  box-sizing: border-box;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $white !important;

  &.aa-hint {
    background: transparent !important;
  }
}

.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-search:focus {
  outline: 0;
  border-color: $gray-500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  // box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1);
}

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #e4e4e4;
  pointer-events: none;
}

.aa-hint {
  color: #e4e4e4;
}

.aa-dropdown-menu {
  background-color: #fff;
  border-left: 1px solid $gray-500;
  border-right: 1px solid $gray-500;
  border-bottom: 1px solid $gray-500;
  border-top-width: 0;
  width: 100%;
  margin-top: -1px;
  font-size: 1em;
  border-radius: 0;
  box-sizing: border-box;
}

.aa-suggestion {
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aa-suggestion:hover, .aa-suggestion.aa-cursor {
  background-color: rgba(241, 241, 241, 0.35);
}

.aa-suggestion > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.aa-suggestion span:first-child {
  color: #333;
}

.aa-suggestion span:last-child {
  color: #a9a9a9;
}

.aa-suggestion img {
  max-width: 80px;
  margin-right: 10px;
}

.aa-suggestions-category {
  border-bottom: 2px solid rgba(228, 228, 228, 0.6);
  border-top: 2px solid rgba(228, 228, 228, 0.6);
  padding: 10px;
  color: #a9a9a9;
  padding: 6px 12px;
  text-align: left;
}

.aa-suggestion span:first-child em, .aa-suggestion span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(110, 161, 47, 0.25);
  padding: 2px 0 2px 2px;
}

.aa-dropdown-menu > div {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.aa-empty {
  padding: 6px 12px;
}
