.select2-container--default {
  .select2-selection--single {
    height: 3em;
    border-radius: 100px;

    .select2-selection__rendered {
      line-height: 3em;
    }

    .select2-selection__arrow {
      display: none;
    }

    .select2-selection__placeholder {
      color: $gray-600;
      font-size: 0.85em;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $primary;
  }
}